<configuration debug="false">

	<!-- Logging to console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Logging to console wih minimal output -->
	<appender name="MIN-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> -- %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<!-- To use async logging use ref="ASYNC" instead -->
	</root>

	<logger name="benchmark.controller" level="INFO">
		<appender-ref ref="MIN-STDOUT" />
	</logger>

	<logger name="benchmark.worker" level="INFO">
		<appender-ref ref="MIN-STDOUT" />
	</logger>

</configuration>
