<configuration debug="false">
	<!-- Logging to console wih minimal output -->
	<appender name="MIN-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern> -- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="MIN-STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern> -- %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="MIN-STDOUT"/>
		<appender-ref ref="MIN-STDERR"/>
	</root>

	<logger name="benchmark.controller" level="INFO"/>

	<logger name="benchmark.worker" level="INFO"/>

	<logger name="benchmark.worker.process" level="INFO"/>
</configuration>
